.main-section {
    padding-right: 10%;
    padding-left: 10%;
}

.main-section .row {
    color: white;
}

.main-section .normal-row-size {
    height: 70vh;
}

.main-section .small-row-size {
    height: 40vh;
}

.main-section .row img {
    padding: 0;
}

.side-text {
    padding-left: 5%;
}

.main-section .row div h1{
    font-family: "League Spartan", sans-serif;
    color: white;
    font-weight: 800;
    font-size: calc((100vh + 100vw)/50);
}

.subheaderDescription{
    padding: 1rem 0 0 0;
    font-family: "Arial", sans-serif;
    color: white;
    font-weight: 200;
    font-size: calc((100vh + 100vw)/130);
}

pre {
    padding: 0 5% 0 5%;
    background-color: #282c34;
}